:root {
    --facebookBlue: #3B5998;
    --textOntopFacebookBlue: white;
    --pageBackground: rgb(223, 223, 223);
    --borders: black;
    --navBar: white;
    --aboutSectionBackground: white;
    --aboutSectionHeader: rgb(240, 240, 240);
    --postHeaer: white;
    --postFooter: rgb(240, 240, 240);
    --userName: var(--facebookBlue);
    --postAction: grey;
    --postWhat: var(--facebookBlue);
    --postTime: grey;
    --postButtonText: var(--facebookBlue);
}

body {
    width: 850px;
    margin: auto;
    background-color: var(--pageBackground);
    font-family: sans-serif;
}

header {
    background-color: var(--facebookBlue);
    height: 400px;
    border-bottom: 5px solid var(--pageBackground);
}

#profilePic {
    width: 150px;
    height: 150px;
    border: 1px solid var(--borders);
    background-color: var(--facebookBlue);
    float: left;
    margin: 240px 10px 0 10px;
}

#yourPageName {
    font-size: 22px;
    color: var(--textOntopFacebookBlue);
    padding-top: 280px;
}

a {
    color: var(--textOntopFacebookBlue);
    text-decoration: none;
}

main a {
    color: var(--textOntopFacebookBlue);
}

#actionButtons {
    /* background-color: yellow; */
    margin-right: 10px;
}

#likeButton {
    margin-right: 5px;
}

#pageLinksBar {
    background-color: var(--navBar);
    height: 25px;
    padding-right: 400px;
    margin-top: 50px;
}

button {
    float: right;
    border: none;
}

.column {
    float: left;
}

#leftColumn {
    width: 328px;
    float: left;
}

#rightColumn {
    width: 512px;
    float: right;
}

.about {
    margin: 5px 0 5px 0;
    background-color: var(--aboutSectionBackground);
}

.post {
    background-color: white;
    margin: 5px 0 5px 0;
}

.aboutHeader {
    background-color: var(--aboutSectionHeader);
    border-bottom: 2px solid lightgrey;
    height: 25px;
}

h5 {
    margin: 0;
    padding: 5px;
    color: #000000c7
}

#aboutYourPageBodyText {
    padding: 0px 2px 5px 7px;
    color: #3B5998;
    font-weight: lighter;
}

.aboutFooter {
    border-top: 2px solid var(--pageBackground);
    padding: 10px;
}

.profilePicIcon {
    width: 40px;
    height: 40px;
    background-color: var(--facebookBlue);
    margin: 5px;
    float: left;
}

.postHeaderText {
    background-color: var(--postHeaer);
    width: 300px;
    float: left;
    margin-top: 10px;
}

.postHeader {
    height: 50px;
    background-color: var(--postHeaer);
}

.postBody {
    margin-bottom: 5px;
}

#firstPostBody {
    width: calc(100% - 10px);
    height: 150px;
    background-color: var(--facebookBlue);
    margin: auto;
    padding-bottom: 0;
}

.postFooter {
    width: 100%;
    height: 20px;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 0px;
    background-color: var(--postFooter);
}

.postButtons {
    float: left;
    border: none;
    background-color: var(--postFooter);
    color: var(--postButtonText);
    padding: 0;
    margin: 5px;
}

.postUserName {
    color: var(--userName);
    font-weight: bold;
}

.postAction {
    color: var(--postAction);
    font-weight: lighter;
}

.postWhat {
    color: var(--postWhat);
    font-weight: lighter;
}

#secondPostBody {
    margin: 10px 5px 10px 5px;
    font-weight: lighter;
}

.postTime {
    font-size: 12px;
    color: var(--postTime);
}